
.header {
  background: #101426;
  margin: 8px;
}

.opcoes {
  margin-left: 8%;
}


  
.mercadoTitulo {
  margin-left: 30px;
}

.tipoOperacaoTitulo {
  text-align: right;
  margin-left: 30px;
}

.colorMenu {
  color: #8C8C8C;
  font-weight: 700;
}

.filtrar {
  background: none;
  border-style: groove;
  border-radius: 12px;
  margin-left: 45px;
}

.filtrar:hover {
  background: whitesmoke;
  color: black;
}

.mercado {
  background: none;
  border: none;
  margin-left: 5px;
  border-radius: 12px;
}



.tipoOperacao {
  background: none;
  border: none;
  margin-left: 5px;
  border-radius: 12px;
}

.h1 {
  text-align: center;
  margin-bottom: 20px;
  
}

.data {
  width: 105px;
  margin-left: 10px;
  background: none;
  border: none;
  cursor: default;
  box-sizing: border-box;
}

